#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.cust-icon {
  margin-right: 8px;
}

pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap; /* Allows wrapping of long text */
  word-wrap: break-word; /* Break long words to fit in the container */
}

@page {
  margin: 0;
}