.btn-primary {
    background-color: #0099ff !important;
    border: hidden !important;
}

h1 {
    font-family: Fredoka One !important;
    font-size: 72px;
    background: -webkit-linear-gradient(#ff4400, #f57e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, h4, h5, h6 {
    font-family: Fredoka One !important;
    background: -webkit-linear-gradient(#004e89, #0099ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-family: Fredoka One !important;
    background: -webkit-linear-gradient(#bc4e9c, #f80759);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    /*background-image: url("~/Content/Images/HiloBck.png");*/
    /*background-image: url('../Images/TrajesBck.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;*/
    background-color: white;
    font-family: Comfortaa;
    color: black;
    /*background-image: url('HiloBck.jpg');*/
}

.menu {
    height: 100%;
    position: fixed !important;
    z-index: 3;
}

.menubtn:hover {
    background: black !important;
}

#divMenu {
    position: absolute;
    /*width: 590px;*/
    top: 0px;
    width: 80px !important;
    height: 100% !important;
    /*border: 5px solid orange;*/
    /*border-radius: 100px;*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
    /*background: linear-gradient(0deg, rgba(0,78,137,1) 0%, rgba(0,153,255,1) 25%, rgba(239,239,208,1) 50%, rgba(255,178,96,1) 75%, rgba(255,68,0,1) 100%);*/
    background: linear-gradient(0deg, rgba(255,68,0,1) 0%, rgba(245,126,0,1) 100%);
    /*background: linear-gradient(to bottom, #24C6DC, #514A9D);*/
    /*background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);*/
    transition: .6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuicon {
    /*font: normal normal normal 60px/1 FontAwesome !important;
    font-size: unset;*/
    color: white !important;
    /*color: black !important;*/
    /*padding-top: 10px;
    padding-left: 10px;*/
}

#icoHome {
    padding-top: 6px;
    padding-left: 4px;
}

#icoNota {
    padding-left: 9px;
    padding-top: 6px;
}

#icoCliente {
    padding-left: 6px !important;
    padding-top: 5px;
}

#icoPrenda {
    padding-top: 6px;
}

#icoTipoPrenda {
    padding-top: 5px;
    padding-left: 6px;
}

#icoArreglo {
    padding-top: 5px;
    padding-left: 8px;
}


/*#imgLogo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
}*/

#divHome {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 60px;
    height: 60px;
    /*border: 5px solid black;*/
    border-radius: 10px;
    background: transparent;
    /*background: white;*/
    transition: .6s;
}

#divNota {
    position: absolute;
    top: 140px;
    left: 10px;
    width: 60px;
    height: 60px;
    /*border: 5px solid black;*/
    border-radius: 10px;
    background: transparent;
    /*background: white;*/
    transition: .6s;
}

#divCliente {
    position: absolute;
    top: 240px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    /*background: white;*/
    transition: .6s;
}

#divPrenda {
    position: absolute;
    top: 340px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    /*background: white;*/
    transition: .6s;
}

#divTipoPrenda {
    position: absolute;
    top: 440px;
    left: 10px;
    width: 60px;
    height: 60px;
    /*border: 5px solid black;*/
    border-radius: 10px;
    background: transparent;
    /*background: white;*/
    transition: .6s;
}

#divArreglo {
    position: absolute;
    top: 540px;
    left: 10px;
    width: 60px;
    height: 60px;
    /*border: 5px solid black;*/
    border-radius: 10px;
    background: transparent;
    /*background: white;*/
    transition: .6s;
}

/*#divPrecio {
    position: absolute;
    top: 700px;
    left: 10px;
    width: 60px;
    height: 60px;
    border: 5px solid black;
    border-radius: 10px;
    background: transparent;
    background: white;
    transition: .6s;
}*/

.btnEditCln, .btnEditArr, .btnEditTipPrd, .btnEditPrd {
    width: 80px;
    margin-left: 0px !important;
    height: 50px;
    background: #0099ff;
    border-radius: 10px;
    border: hidden !important;
}

    .btnEditCln:hover, .btnEditArr:hover, .btnEditTipPrd:hover, .btnEditPrd:hover {
        background: black !important;
    }

.btnDeleteCln, .btnDeleteArr, .btnDeleteTipPrd, .btnDeletePrd {
    width: 80px;
    margin-left: 0px !important;
    height: 50px;
    background: #ff4400 !important;
    border-radius: 10px;
    border: hidden !important;
}

    .btnDeleteCln:hover, .btnDeleteArr:hover, .btnDeleteTipPrd:hover, .btnDeletePrd:hover {
        background: black !important;
    }

.btnEdiCln, .btnEdiArr, .btnEdiTipPrd, .btnEdiPrd {
    width: 100px;
    margin-left: 0px !important;
    height: 50px;
    background: #0099ff;
    border-radius: 10px;
    border: hidden !important;
}

    .btnEditCln:hover, .btnEdiArr:hover, .btnEdiTipPrd:hover, .btnEdiPrd:hover {
        background: black !important;
    }

.btnDelCln, .btnDelArr, .btnDelTipPrd, .btnDelPrd {
    width: 100px;
    margin-left: 0px !important;
    height: 50px;
    background: #ff4400 !important;
    border-radius: 10px;
    border: hidden !important;
}

    .btnDelCln:hover, .btnDelArr:hover, .btnDelTipPrd:hover, .btnDelPrd:hover {
        background: black !important;
    }

.btnBackCln, .btnBackArr, .btnBackTipPrd, .btnBackPrd {
    width: 100px;
    margin-left: 0px !important;
    height: 50px;
    background: #0099ff;
    border-radius: 10px;
    border: hidden !important;
}

    .btnBackCln:hover, .btnBackArr:hover, .btnBackTipPrd:hover, .btnBackPrd:hover {
        background: black !important;
    }

.nticon {
    border: hidden !important;
    margin-left: 50px;
}

.notaicon {
    color: white !important;
}

.nticon:hover {
    background: black !important;
    /*transition: .6s;*/
}
