#divPrincipalNota {
/*    margin-top: -40px !important;*/
    width: 100% !important;
}

#btnFechaEdit {
/*    margin-top: 30px;*/
/*    margin-left: 200px;*/
    width: 60px;
    height: 50px;
    border-radius: 10px;
    background: #0099ff;
    /*border: 2px solid #514A9D;*/
    border: hidden !important;
}

    #btnFechaEdit:hover {
        background: black !important;
    }

#divFechaNota {
    /*    margin-left: 20px;*/
    /*    margin-top: 30px;*/
    height: 50px;
    color: white;
    background: linear-gradient(to left, #f57e00, #ff4400);
    border-radius: 10px;
}

#divFolio {
    margin-top: -40px;
    margin-left: 990px;
    padding-top: 4px;
    padding-left: 10px;
    height: 30px;
    width: 100px;
    color: white;
    background: linear-gradient(to left, #f57e00, #ff4400);
    border-radius: 10px;
}

/*#btnClienteAdd {
    margin-top: -3px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background: #24C6DC;
    border: 2px solid #514A9D;
    border: hidden !important;
    margin-left: -300px !important;
}*/

    #btnClienteAdd:hover {
        background: black !important;
    }

#btnClient {
    /*    margin-top: -3px;*/
/*    margin-top: -30px;*/
    margin-left: 735px;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    /*background: #0099ff;*/
    /*border: 2px solid #514A9D;*/
    /*    border: hidden !important;*/
    /*    margin-left: 480px !important;*/
}

    #btnClient:hover {
        background: black !important;
    }

#divDataCliente {
    margin-top: 10px;
    padding-top: 25px;
    color: white;
    background: linear-gradient(to left, #0099ff, #004e89);
    border-radius: 10px;
}

.FixPos {
    margin-top: 0px !important;
    position: fixed !important;
    z-index: 3;
}

#divTHead {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-left: 1px;
    padding-top: 15px;
    color: white;
    background: linear-gradient(to left, #0099ff, #004e89);
    border-radius: 10px;
    text-align: center;
}

#divThCantidad {
    height: 50px;
/*    margin-left: 10px;*/
}

#divThPrenda {
    height: 50px;
/*    margin-left: 10px;*/
    width: 800px;
}

#divThPrecio {
    height: 50px;
    width: 100px;
/*    margin-left: 10px;*/
}

#divThImporte {
    height: 50px;
    width: 100px;
/*    margin-left: 10px;*/
}

#divTBody {
    width: 100%;
    margin-top: 10px;
/*    margin-left: 1px;*/
}

#divTbCantidad {
    width: 60px;
    text-align: center;
    /*margin-left: 10px;*/
    padding-top: 15px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

#divTbPrenda {
/*    width: 840px;*/
/*    margin-left: 10px;*/
    text-align: center;
    padding-top: 15px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

#divTbPrecio {
    width: 80px;
    text-align: center;
    padding-top: 15px;
    /*    margin-left: 10px;*/
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}


#divTbImporte {
    width: 80px;
    text-align: center;
    padding-top: 15px;
    /*    margin-left: 10px;*/
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

#divTBody2 {
    width: 100%;
    margin-top: 10px;
/*    margin-left: 1px;*/
}

/*#divTb1 {
    width: 60px;
    margin-left: 10px;
    padding-top: 15px;
    height: 40px;
    background: transparent;
}*/

#divTb2Descripcion {
/*    width: 840px;*/
/*    margin-left: 10px;*/
    text-align: center;
    padding-top: 15px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

.divTb3Edit {
    width: 80px;
    margin-left: 0px !important;
    height: 50px;
    background: #0099ff;
    border-radius: 10px;
    border: hidden !important;
}

    .divTb3Edit:hover {
        background: black !important;
    }

#divTb4Delete {
    width: 80px;
    margin-left: 0px !important;
    height: 50px;
    background: #ff4400 !important;
    border-radius: 10px;
    border: hidden !important;
}

    #divTb4Delete:hover {
        background: black !important;
    }

#divTFoot {
    height: 50px;
    width: 100%;
    margin-top: 10px;
/*    margin-left: 1px;*/
}

#divTf1 {
    width: 910px;
/*    margin-left: 10px;*/
    text-align: center;
    padding-top: 15px;
    height: 50px;
    background: transparent;
}

#divTfTotal {
    width: 80px;
    text-align: center;
    padding-top: 15px;
    /*    margin-left: 10px;*/
    height: 50px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to left, #0099ff, #004e89);
}


#divTfImpTotal {
    width: 80px;
    text-align: center;
    padding-top: 15px;
    /*    margin-left: 10px;*/
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

.nticon {
    border: hidden !important;
    margin-left: 50px;
}

.notaicon {
    color: white !important;
}

.nticon:hover {
    background: black !important;
    /*transition: .6s;*/
}

#divAreaBtn {
  margin-left: 50px;
    height: 70px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#divAbAdd {
    width: 80px !important;
    height: 80px !important;
    border-radius: 10px;
    background: #24C6DC;
}

#divAbPay {
    width: 80px !important;
    height: 80px !important;
    border-radius: 10px;
    background: #24C6DC;
}

#divAbPrint {
    width: 80px !important;
    height: 80px !important;
    border-radius: 10px;
    background: #24C6DC;
}

#divAbSave {
    width: 80px !important;
    height: 80px !important;
    border-radius: 10px;
    background: #24C6DC;
}

/*#icoEdit {
    padding-bottom: 5px;
}

icoDelete {
    padding-bottom: 5px;
}*/